[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bnbc"]
	path = bnbc
	url = https://github.com/hansenlab/bnbc
	shallow = true
	registered = true
[submodule "bsseq"]
	path = bsseq
	url = https://github.com/hansenlab/bsseq
	shallow = true
	registered = true
[submodule "minfi"]
	path = minfi
	url = https://github.com/hansenlab/minfi
	shallow = true
	registered = true
[submodule "tricycle"]
	path = tricycle
	url = https://github.com/hansenlab/tricycle
	shallow = true
	registered = true
[submodule "yamss"]
	path = yamss
	url = https://github.com/hansenlab/yamss
	shallow = true
	registered = true
