[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bnbc"]
	path = bnbc
	url = https://github.com/hansenlab/bnbc
[submodule "bsseq"]
	path = bsseq
	url = https://github.com/hansenlab/bsseq
[submodule "minfi"]
	path = minfi
	url = https://github.com/hansenlab/minfi
[submodule "mpra"]
	path = mpra
	url = https://github.com/hansenlab/mpra
[submodule "spqn"]
	path = spqn
	url = https://github.com/hansenlab/spqn
[submodule "tricycle"]
	path = tricycle
	url = https://github.com/hansenlab/tricycle
[submodule "yamss"]
	path = yamss
	url = https://github.com/hansenlab/yamss
