[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bnbc"]
	path = bnbc
	url = https://github.com/hansenlab/bnbc
	shallow = true
	registered = true
